#title {
  left: 50%;
  top: 50%;
  text-align: center;
  font-size: 20px;
}

#myModal {
  display: none;
  position: fixed;
  z-index: 1; /* 사용자에게 보여지던 view 보다 상단 노출되어야 하기 위함*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); /*투명도 0.4*/
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 50%;
  align-items: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#expense {
  display: none;
}

#sub_btn {
  background: #fff;
  padding: 0.2em;
  cursor: pointer;
  border-style: solid;
  width: 51%;
  margin-top: 5px;
}

div.button {
  margin: auto;
  width: 50%;
  border: none;
}

div.button input {
  padding: 5px;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  background-color: #0000ff;
  color: #fefefe;
}

#myBtn:hover {
  cursor: pointer;
  background-color: #000080;
}

#household {
  margin-left: auto;
  margin-right: auto;
}

.blue {
  background-color: #0000ff;
  color: white;
}

.green {
  background-color: #00ff00;
}

.yellow {
  background-color: #ffff00;
}

.lightgreen {
  background-color: #b0df00;
}

.sAlign {
  text-align: center;
}

.rAlign {
  text-align: right;
}

.sRed {
  color: red;
}
